@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.geo-selector {
  z-index: $z-index-selector;

  .MuiFormControl-root {
    width: 289px;
    height: 56px;
  }

  &:focus {
    outline: none !important;
  }

  &:focus-visible {
    outline: none !important;
  }

  &__select {
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
    color: $color-text !important;
    border-radius: 8px !important;

    &:focus,
    &:focus-visible {
      outline: none !important;
    }

    .MuiOutlinedInput-notchedOutline {
      border: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: rgba(255, 255, 255, 0.2) !important;
    }

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: rgba(255, 255, 255, 0.2) !important;
    }

    .MuiSelect-select {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px !important;
      height: 100%;
      gap: 8px;
    }

    .MuiSvgIcon-root {
      color: $color-text !important;
    }
  
  }

  &__arrow {
    width: 9px;
    height: 4.5px;
    pointer-events: none;
    margin-right: 16px;
  }

  &__flag {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: fill;
    object-position: left;
    margin-right: 8px;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.MuiMenuItem-root {
  &:focus,
  &:focus-visible {
    outline: none !important;
  }
}

.MuiMenu-paper {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 8px !important;

  .MuiMenuItem-root {
    color: $color-text !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05) !important;
    }
  }
}