@use './variables' as *;
@use './mixins' as *;
@use './themes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
