@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.game-modal {
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 90vh;
    max-width: 1400px;
    background-color: #000;
    border-radius: $radius-lg;
    overflow: hidden;
    outline: none;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__iframe {
    width: 100%;
    height: 100%;
    border: none;
    transition: opacity 0.3s ease;
  }
}